<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>iOS Architecture Generator</title>
	
	<link rel="stylesheet" href="css/main.css">
	<meta name="viewport" content="initial-scale=1">

	<meta property="og:title" content="iOS Architecture Generator">
	<meta property="og:url" content="https://iosarchitecture.top/">
	<meta property="og:image" content="https://iosarchitecture.top/img/opengraph.png">
	<meta property="og:site_name" content="iOS Architecture Generator">
	<meta property="og:description" content="Randomly generate the next big thing ® on iOS app development.">
</head>
<body>
	
	<h1 id="main">iOS Architecture Generator</h1>
	
	<section id="window">
		<h1 id="initialism">...</h1>
		<h2 id="name">...</h2>
	
		<button id="generate">Generate another one</button>
	</section>
	
	<footer>
		<small>Powered by Swift.<br>
		Created by <a href="https://twitter.com/_inside">Guilherme Rambo</a>
		<br><a href="https://github.com/insidegui/iosarchitecture">Open Source</a>
		</small>
	</footer>
	
	<script src="/js/main.js"></script>
	
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1951400-17"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)};
		gtag('js', new Date());
		gtag('config', 'UA-1951400-17');
	</script>
</body>
</html>
